{% extends "base.html" %}
{% load static %}
{% block title %}
  Страница пользователя {{ profile_user.username }}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-3 text-center">
      {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" width="150" height="150" class="rounded-circle img-thumbnail mb-3">
      {% else %}
        <img src="{% static 'img/default_avatar.png' %}" width="150" height="150" class="rounded-circle img-thumbnail mb-3">
      {% endif %}
    </div>
    <div class="col-md-9">
      <h1 class="mb-3">Страница пользователя {{ profile_user.username }}</h1>
      <small>
        <ul class="list-group list-group-horizontal justify-content-start mb-3">
          <li class="list-group-item text-muted">Имя пользователя: {% if profile_user.get_full_name %}{{ profile_user.get_full_name }}{% else %}не указано{% endif %}</li>
          <li class="list-group-item text-muted">Регистрация: {{ profile_user.date_joined }}</li>
          <li class="list-group-item text-muted">Роль: {% if profile_user.is_staff %}Админ{% else %}Пользователь{% endif %}</li>
        </ul>
        <ul class="list-group list-group-horizontal justify-content-start">
          {% if user.is_authenticated and request.user == profile_user %}
          <a class="btn btn-sm text-muted" href="{% url 'blog:edit_profile' %}">Редактировать профиль</a>
          <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
          {% endif %}
        </ul>
      </small>
    </div>
  </div>
  <br>
  <h3 class="mb-5 text-center">Публикации пользователя</h3>
  {% for post in page_obj %}
    <article class="mb-5">
      {% include "includes/post_card.html" %}
    </article>
  {% endfor %}
  {% include "includes/paginator.html" %}
{% endblock %}